.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  margin-bottom: 24px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .base,
  .framework,
  .vite {
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 2;
  }

  .framework {
    position: absolute;
    z-index: 1;
    top: 34px;
    height: 28px;
    opacity: 0.8;
  }

  .vite {
    position: absolute;
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    opacity: 0.6;
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 32px 20px 24px;

  @media (max-width: 1024px) {
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);

  & > div {
    flex: 1;
    padding: 32px;
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
    padding: 24px 20px;

    & > div {
      padding: 24px 0;
    }
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;
  flex-wrap: wrap;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);

  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  width: 100%;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}